# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
.vs/
.vscode/
*.sln
*.slnx
*.VC.db
*.opensdf
*.opendb
*.sdf
*.suo
*.xcodeproj
*.xcworkspace
Plugins/*/Binaries/
Plugins/*/Intermediate/
